{% load food_tags %}

<html>
  <head>
    <script src="{{path}}/static/scripts/json2.js" type="text/javascript"></script>
    <script src="{{path}}/static/scripts/jquery.min.js" type="text/javascript"></script>
    <script src="{{path}}/static/scripts/jquery-ui-1.8.6.custom.min.js" type="text/javascript"></script>
    <script src="{{path}}/static/scripts/jquery.imgareaselect.min.js" type="text/javascript"></script>
    <script src="{{path}}/static/scripts/jquery.blockUI.js" type="text/javascript"></script>
    <script src="{{path}}/static/scripts/typewatch.js" type="text/javascript"></script>

    <link rel="stylesheet" href="{{path}}/static/css/platebrain.css" type="text/css" />
    <link rel="stylesheet" href="{{path}}/static/css/jquery-ui.css" type="text/css" />
    <link rel="stylesheet" href="{{path}}/static/css/imgareaselect-default.css" type="text/css" />
    <title>PlateMate</title>
  </head>
  <body>
    <div id="wrapper">
    
    {% for output in outputs %}
    <h1>{{ output.step }}</h1>
    {{ output|format_model }}
    <hr />
    {% endfor %}
    
    
    </div>
  </body>
</html>