body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: #fafaff;
}

#main {
    width: 1100px;
    margin: 20px auto;
}

#main-content {
    width: 100%;
    background-color: white;
    border: solid #666 1px;
    padding: 10px;
    margin-top: 10px;
}

#nav {
    padding-top: 10px;
    font-size: 14pt;
    font-weight: bold;
}

#date-select {
    font-size: 11pt;
    float: right;
    color: #333;
}

#loggedin {
    float: right;
    font-size: 10pt;
    color: #333;
}

#loggedin a {
    color: #333;
}

.meal-name, h2 {
    font-size: 16pt;
    font-weight: bold;
    font-variant: small-caps;
}

td.meal-header, h2{
    border-bottom: solid #666 1px;
    padding: 5px 0;
    margin: 10px 0;
}

td.food a {
    text-decoration: none;
    color: #0073AD;
}

td.food a:hover {
    text-decoration: underline;
}

span.serving-descr {
}

span.food-name {
    font-weight: bold;
}

td.submission {
    padding: 10px 0;
}

td.food, td.food-hidden { width: 350px; font-size: 10pt; }
td.calories, td.fat, td.carbohydrate, td.protein, td.calories-hidden, td.fat-hidden, td.carbohydrate-hidden, td.protein-hidden, td.nutrition-label { width: 60px; font-size: 10pt; text-align: center;}

td.list_name {
    font-size: 10pt;
    font-weight: bold;
    text-decoration: underline;
}

tr.meal-Total {
    background-color: #fdf7e8;
}

tr.meal-Total td.meal-name {
    border: solid #FBC768;
    border-width: 2px 0 2px 2px;
    padding-left: 10px;
    vertical-align: middle;
}

tr.meal-Total td.meal-totals {
    border: solid #FBC768;
    border-width: 2px 2px 2px 0;
}

a.upload, a.add-food {
    color: #0073AD;
    font-weight: bold;
    text-decoration: none;
}

a.upload { font-size: 12pt; }
a.add-food { font-size: 10pt; }

a.upload:hover span.upload-text, a.add-food:hover span.add-food-text { text-decoration: underline; }

a.upload span.upload-plus, a.add-food span.add-food-plus {
    border: solid #FBC768 3px;
    background-color: #fdf7e8;
    font-weight: bold;
}

a.upload span.upload-plus { font-size: 16pt; padding: 0px 4px; }
a.add-food span.add-food-plus { font-size: 12pt; padding: 0px 3px;}

a.upload:hover span.upload-plus, a.add-food:hover span.add-food-plus {
    background-color: #FBC768;
    color: #fdf7e8;
}

td.add-food {
    padding-top: 20px;
}

a.delete-photo {
    color: #C00;
    text-decoration: none;
    padding-top: 20px;
    display: block;
    font-size: 10pt;
}

a.delete-photo:hover { text-decoration: underline; }

a.delete-photo img { padding-right: 2px; }

tr.submission-hidden td {
    background-color: #fdd;
}