/* DISPLAYING OUTPUT */

table.list, table.dictionary {
    padding: 0px 0px 0px 0px;
    border-collapse: collapse;
}

table.dictionary td {
    border: 1px solid black;
    padding: 15px 15px 15px 15px;
}

table.list td {
    border: 1px solid black;
    padding: 5px 5px 5px 5px;
}

table.list {
    border: 0px solid black;
}


/* GENERAL */

#tabs {
    width: 750px;
    background: #FFFACD;
    font-size: 12pt;
}

#tabs .tab{
    width: 700px;
    padding: 10px;
    margin-bottom: 10px;
}

#tabs .examples {
    text-align: center;
}

#tabs .examples img {
    border: solid #CCC 2px;
    display: block;
    margin: 0 auto 5px auto;
}

#wrapper {
    font-family: Helvetica, Arial, sans-serif;
}

#comment {
    width: 400px;
    height: 75px;
}

.message {
    color: #FF0000;
    font-size: 90%;
}

.caption {
  max-width: 400px;
  background-color: white;
  padding-top: 3px;
}

/* DRAW BOXES */

td.taglist {
    padding-left: 20px;
}

div.tagphotos {

}

.addbutton {
    width: 400px;
    height: 50px;
    font-size: 200%;
    margin-top: 10px;
}

/* ANNOTATED PHOTOS */
.container {
  position: relative;
  width: 400px;
}

.container.with-overlay {
  background: black;
}

.container.with-overlay .mainphoto {
  opacity:0.6;
  filter:alpha(opacity=60);
}

.box {
  border: solid red 2px;
  position: absolute;
  display: inline;
  z-index: 2;
}

.box-border {
    border: dotted red 2px;
    position: absolute;
    display: inline;
    z-index: 3;
}

.box-border.other {
    border-color: #900;
}

.break {
  clear: both;
}

/* TAG - VOTE */
.vote-button {
  display: block;
  margin: 10 auto;
}

.vote-item {
  float: left;
  margin-right: 20px;
}

.vote-item:hover {
    cursor: hand;
}

.vote-item .container.selected, .vote-item.selected .container {
    background-color: green;
    border: 10px solid green;
}

/* IDENTIFY - MATCH */

.foodlist {
    clear: both;
    padding: 10px 0;
}

span.food_desc {
    font-weight: bold;
    text-decoration: underline;
}



.match_box .steps .photo {
    float: right;
    padding-left: 30px;
}

.match_box .steps {
    width: 750px;
}

.match_box .description {
    margin-top: 10px;
    border: 1px dotted black;
    width: 300px;
    padding: 10px 10px 10px 10px;
    background-color: #efefef;
}

.foodlist .right, .measure-item .right {
    margin-left: 420px;
}

.left {
    float: left;
    padding-right: 20px;
}

.food_results, .food_selections {
    height: 175px;
    width: 370px;
    overflow-y: scroll;
    border: solid #666 2px;
    background-color: #ddd;
    padding: 5px;
}

.food_item_div, .food_del_div {
    border-bottom: solid #aaa 1px;
    margin-bottom: 2px;
    padding-bottom: 2px;
}

.food_item_div a, .food_del_div a {
    color: #6699DD;
    text-decoration: none;
    padding-right: 20px;
}

a.food_added {
    color: #999;
}

.food_item_div a:hover {
    text-decoration: underline;
    background: url(../img/add.png) no-repeat right;
}

.food_del_div a:hover {
    text-decoration: underline;
    background: url(../img/delete.png) no-repeat right;
}

.foodsearch {
    background: url(../img/search.gif) no-repeat right;
    width: 380px;
}

/* IDENTIFY - DESCRIBE */
input.food_desc {
    width: 100%;
}

textarea.food_ingredients {
    width: 100%;
}

/* MEASURE */

.portion_guide {
    width: 400px;
    background-color: #cc3300;
}

.portion_guide td {
    color:  #ffffff;
    font-family: sans-serif;
    font-size: 80%;
    padding: 5px;
    border-bottom: 1px dotted white;
}

.portion_guide td.heading {
    font-weight: bold;
    color: #cc3300;
    background-color: #ffffff;
}

.portion_guide td.object {
    border-left: 3px solid white;
}
