{% extends "hit_base.html" %}
{% load food_tags %}

{% block instructions %}
In each photo you see below, a box containing one food item will be highlighted. <b>Describe this food, and then break it up into parts if possible</b>. If the answer boxes are already filled in, then other Turkers have already worked on this.  Your job is to <b>improve the answer you see</b>. Change it if it is wrong, or add details if it is right.
<br /><br />
<b>Be specific!</b> Describe the food as clearly as possible, with as many details as possible. For example, "fried chicken drumstick" is much better than "chicken". Think about how the food is cooked ("boiled","diced","raw"), what part of an animal or plant it is, what variety it is ("iceberg lettuce","white rice","chocolate chip cookie"). You can also list multiple possibilities ("butter or margarine") if you are uncertain.
<br /><br />
<b>Focus on what you can see</b>. Don't worry about invisible parts, like salt or oil. Instead, focus on capturing the main items visible in the box. Some foods only contain one part, but others can easily be decomposed.
{% endblock instructions %}


{% block jobs %}

  <div id="MAIN">
  {% for job in hit.jobs.all %}
    <div class="foodlist" id="{{ job.id }}_list">
      <div class="left">{{ job.box|annotate_photo }}</div>
      <div class="right">
        <b>Step 1: Look at the picture.</b> Decide what food is in the solid red box. Ignore foods that belong to other boxes, which are marked with dashed lines.
        <br /><br />
        <b>Step 2: What is this food?</b> What do people call it?<br />
        Name the food as a whole, even if it contains many parts.
        <br /><i>Example: "turkey sandwich", "lettuce and tomato"</i><br />
        {% if job.iteration > 1 %}
        <br />This is another Turker's description of the food. If you think it is wrong, fix it. If you think it is right, improve it by adding more detail.
        {% endif %}
        <br /><input type="text" name="{{job.id}}_desc" class="food_desc" value="{{job.desc}}" />
      
        <br /><br />
        <b>Step 3: What is it made of?</b> Is it as a combination of other foods? 
        <br />a) For simple foods like "brown rice" or "ketchup", you can repeat the answer above. 
        <br />b) For complicated foods like "caesar salad", list all the visible pieces, like "lettuce, chicken, croutons, dressing." 
        <br />c) <i>Think of this as explaining what the food is to someone who has never had it by breaking it down into simpler pieces.</i>.
        <br />d) List each part <b>on a new line</b>.
        <br />
        {% if job.iteration > 1 %}
        <br />This is another Turker's ingredient list. It could be <b>completely wrong</b>, and you should fix it. Or it might be right, and you should <b>add more detail</b> or list possible alternatives.
        {% endif %}
        <br /><textarea rows=6 name="{{job.id}}_ingredients" class="food_ingredients">{{ job.ingredients }}</textarea>
      </div>
      <div class="break"></div>
    </div>

    <hr />
  {% endfor %}
  </div>
{% endblock jobs %}