{% extends "hit_base.html" %}
{% load food_tags %}

{% block instructions %}
In each photo you see below, a box containing one food item will be highlighted. Next to it, you will find descriptions of the food written by earlier Turkers looking at the same picture. Your task is to <b>match the description with foods in our database.</b>
<br /><br />
Start by searching for one food that matches the item. This will work for most cases, but some complicated foods with many parts aren't in our database. In this case, match each of the parts.For example, to find "pepperoni pizza with olives", you might have to search "cheese pizza", then "pepperoni", then "sliced black olives".
<br /><br />
<b>Be as specific as you can without guessing</b>. "Chicken breast" is better than "chicken", and "fried chicken breast" is even better. Keep the list short, but don't leave anything out!. If you aren't sure what the best match is, take your best guess. <b>DO NOT list all possible alternatives, just the best one.</b>
If a photo does not contain food, please skip this HIT. 
{% endblock instructions %}

{% block jobs %}
  <script type="text/javascript">
    var selections = {};
    $(document).ready(function() {
      $(".foodsearch").typeWatch( {
        wait: 500,
        highlight: true,
        captureLength: 1,
        callback:function() {
          var e = this.el;
          var id = e.id.substring(0, e.id.indexOf("_"));
          $("#" + id + "_loading").show();
          $.ajax({
            type: "GET",
            url: "{{path}}/food/search/" + escape(e.value) + "/",
            dataType: "json",
            success: function(data, status) {
              $("#" + id + "_loading").hide();
              $("#" + id + "_results").empty();
              for (i in data) {
                var elId = id + "_" + data[i].id + "_item";
                var newEl = $("<div class='food_item_div'><a class='food_item' id='" + elId + "' href='#'>" + data[i].name + "</a></div>");
                $("#" + id + "_results").append(newEl);
                $("#" + elId).data('jobId', id);
                $("#" + elId).data('foodId', data[i].id);
                $("#" + elId).data('foodName', data[i].name);
              }
              $(".food_item").click(function(e) {
                $(e.target).addClass("food_added");
                var jobId = $(e.target).data('jobId');
                var foodId = $(e.target).data('foodId');
                var foodName = $(e.target).data('foodName');
                if (!selections[jobId][foodId]) {
                  selections[jobId][foodId] = foodName;
                  $("#" + jobId + "_selections")[0].value = JSON.stringify(selections[jobId]);
                  var elId = jobId + "_" + foodId + "_del";
                  var newEl = $("<div class='food_del_div'><a class='food_del' id='" + elId + "' href='#'>" + foodName + "</a></div>");
                  $("#" + jobId + "_selected_items").append(newEl);
                  $("#" + elId).data('jobId', jobId);
                  $("#" + elId).data('foodId', foodId);
                  $("#" + elId).data('foodName', foodName);

                  $(".food_del").click(function(e) {
                    $(e.target).parent().hide();
                    var jobId = $(e.target).data('jobId');
                    var foodId = $(e.target).data('foodId');
                    var foodName = $(e.target).data('foodName');
                    if (selections[jobId][foodId]) {
                      $("#" + jobId + "_" + foodId + "_item").removeClass("food_added");
                      delete selections[jobId][foodId];
                      $("#" + jobId + "_selections")[0].value = JSON.stringify(selections[jobId]);
                    }
                    return false;
                  });

                }
                return false;
              });
            }
          });
        }});

        $(".foodsearch").keyup(function(e) {
          var id = e.target.id.substring(0, e.target.id.indexOf("_"));
          if (e.target.value.length <= 1) {
            $("#" + id + "_results").empty();
            $("#" + id + "_loading").hide();
          }
        });

    });
  </script>


  <div id="MAIN">
  {% for job in hit.jobs.all %}
    <div class="match_box" id="{{ job.id }}_match_box">
      <div class="steps">
        <div class="photo">{{ job.box|annotate_photo }}</div>
        <b>Step 1: Look at the picture.</b> Decide what foods are in the solid red box. Ignore foods that belong to other boxes, which are marked with dashed lines.
        <br /><br />
        <b>Step 2: Read the food description below.</b> This was written by earlier Turkers looking at the same picture. It could be wrong or incomplete, but it might help you identify the food.
        <br />
        <div class='description'>
        <b>What this is</b>
        <br />{{ job.desc }}
        <br />
        <br /><b>What it's made of</b>
        <br />{{ job.ingredients|linebreaksbr }}
        </div>
        <br /><b>Step 3: Find matching foods in the database.</b>
        <br />Search for the best option to describe what's in the box. You might have to break it down and choose more options, like matching a sandwich as "bread" and "turkey".
        <br /><b>DO NOT break foods into raw ingredients</b>, like "sugar" or "oil." Focus on big visible parts.
        <br /><b>DO NOT list many possible foods</b>, just your best guess for each one.
        <br /><b>DO NOT choose more than FOUR items.</b> If there are more, pick the four biggest.
        <div class="break"><br /></div>

      </div>
      <div class="left">
        <b>Search the database below:</b>&nbsp;&nbsp;&nbsp;<img src="{{path}}/static/img/loading.gif" style="display: none" id="{{ job.id }}_loading" /><br />
        <input class="foodsearch" id="{{ job.id }}_search" type="text" size="50" />
        <br />Type keywords with spaces, like "fried chicken breast"
        <div id="{{ job.id }}_results" class="food_results">&nbsp;</div>
      </div>
      <div class="right">
        <div style="padding-bottom: 6px"><b>Items you select will appear here:</b><br />
        Click on an item to remove it.</div>
        <div id="{{ job.id }}_selected_items" class="food_selections"></div>
        <input type="hidden" name="{{job.id}}_selections" id="{{job.id}}_selections" value="[]" />
      </div>
    </div>
    <div class="break"><br /></div>
    <script type="text/javascript">
      selections["{{job.id}}"] = {};
    </script>
    <hr /><br />
  {% endfor %}
  </div>
{% endblock jobs %}
