{% extends "hit_base.html" %}

{% block instructions %}
We need your help breaking up a picture into different foods. For each photo, <b>draw boxes around each item on the plate</b>. After each box, <b>click the "Add" button</b>. You'll see every item you've selected to the right of the photo, and can remove items if you want to draw them again.  
<ul>
    <li>One item might have many ingredients
    <li><b>Example:</b> if you see a sandwich and a side salad, draw two boxes.
    <li>Never draw one box inside another box. Treat the two as one item.
    <li><b>Example:</b> if you see pasta with tomatoes in it, DON'T draw a box around each tomato. Just make one big box.
</ul>

{% endblock instructions %}

{% block jobs %}
  <script type="text/javascript">
  var ids = {};
  var selections = {};
  var selects = {};
  </script>
  <div id="MAIN_TAGGING">
  {% for job in hit.jobs.all %}
    
    <table cellpadding=0 cellspacing=0 border=0>
      <tr>
        <td valign='top'>
          <img src='{{ job.photo.photo_url }}' id='{{ job.id }}_photo' /><br />
          <input type='button' class='addbutton' id='{{ job.id }}_add' value='Add' />
        </td>
        <td valign='top' class='taglist'>
          <strong>Your tags:</strong><br />
          <div id='{{ job.id }}_tags' class='tagphotos'></div>
          <input type='hidden' name='{{ job.id }}_box_group_json' id='{{ job.id }}_box_group_json' value = ''/>
        </td>
      </tr>
    </table>
    
    <br /><hr class='break' /><br />
    
    <script type="text/javascript">
    ids['{{ job.id }}'] = 0;
    selections['{{ job.id }}'] = {};
    
    selects['{{ job.id }}'] = $('img#{{ job.id }}_photo').imgAreaSelect({
      handles: true,
      instance: true
    });

    $('#{{ job.id }}_add').click( function() {
      var s = selects[{{ job.id }}].getSelection();
      selections[{{ job.id }}][ids[{{ job.id }}]] = s;
      selects[{{ job.id }}].setOptions({hide:true});
      $('#' + {{ job.id }} + '_tags').prepend("<div id='sel-{{ job.id }}-" + ids["{{ job.id }}"] + "' style=\"width:" + s.width + "px; height:" + s.height + "px; background-image: url(" + $('#{{ job.id }}_photo')[0].src + "); background-position: -" + s.x1 + "px -" + s.y1 + "px;\">&nbsp;</div><a id='del-{{ job.id }}-" + ids["{{ job.id }}"] + "' href='#'><img src='{{path}}/static/img/delete.png' border=0 /></a><br /><br />");
      var thisid = ids["{{ job.id }}"];
      $('#del-{{ job.id }}-' + ids['{{ job.id }}']).click( function() {
        selections['{{ job.id }}'][thisid] = undefined;
        $('#sel-{{ job.id }}-' + thisid).remove();
        $('#del-{{ job.id }}-' + thisid).remove();
        $("#{{ job.id }}_box_group_json")[0].value = encodeURIComponent(JSON.stringify(selections['{{ job.id }}']));
      });
      $("#{{ job.id }}_box_group_json")[0].value = encodeURIComponent(JSON.stringify(selections['{{ job.id }}']));
      ids['{{ job.id }}']++;
    });
    
    </script>
  {% endfor %}
  </div>
{% endblock jobs %}