<html>
  <head>
    <script src="{{path}}/static/scripts/json2.js" type="text/javascript"></script>
    <script src="{{path}}/static/scripts/jquery.min.js" type="text/javascript"></script>
    <script src="{{path}}/static/scripts/jquery-ui-1.8.6.custom.min.js" type="text/javascript"></script>
    <script src="{{path}}/static/scripts/jquery.imgareaselect.min.js" type="text/javascript"></script>
    <script src="{{path}}/static/scripts/jquery.blockUI.js" type="text/javascript"></script>
    <script src="{{path}}/static/scripts/typewatch.js" type="text/javascript"></script>

    <link rel="stylesheet" href="{{path}}/static/css/platebrain.css" type="text/css" />
    <link rel="stylesheet" href="{{path}}/static/css/jquery-ui.css" type="text/css" />
    <link rel="stylesheet" href="{{path}}/static/css/imgareaselect-default.css" type="text/css" />
    <title>PlateMate</title>
    <script>
    $(document).ready(function() {
        $( "#tabs" ).tabs();
    });
        
    $(document).ready(function() {
      $('form input').keydown(function(event){
        if(event.keyCode == 13) { // Prevent enter submitting
          event.preventDefault();
          return false;
        }
      });
    });
    
        
  </script>


  </head>
  <body>

    <div id="wrapper"> 

       {% if hit.manager.sandbox %}

           <form action='//workersandbox.mturk.com/mturk/externalSubmit' method='POST' name='hitForm' >
       {% else %}

            <form action='//www.mturk.com/mturk/externalSubmit' method='POST' name='hitForm' >
       {% endif %}
       
        <input type='hidden' name='country' value='{{ country }}' />
        <input type='hidden' name='browser' value='{{ browser }}' />
        <input type='hidden' name='os' value='{{ os }}' />
        <input type='hidden' name='assignmentId' value='{{ assignment }}' />
        <input type='hidden' name='ip' value='{{ ip }}' />

        <div id="tabs">
        	<ul>
        		<li><a href="#tabs-1">Instructions</a></li>
        		<li><a href="#tabs-2">Examples</a></li>
        		<li><a href="#tabs-3">Payment and Evaluation</a></li>
        		<li><a href="#tabs-4">What's this for?</a></li>
        	</ul>
        	<div id="tabs-1" class="tab">
        		{% block instructions %}{% endblock instructions %}
                <br /><br />Click the "Examples" tab above for more information.
        	</div>
        	<div id="tabs-2" class="tab examples">
        		{% block examples %}
                    {% for example_url in example_urls %}
                        <img src="{{example_url}}" />
                    {% endfor %}
                {% endblock examples %}
        	</div>
        	<div id="tabs-3" class="tab">
        		<b>Evaluation:</b> To get your assignment approved, follow all instructions. We automatically reject submissions if you haven't done anything, or if required fields are left blank. It's <b>your job</b> to make sure the task is complete before you submit.
                <br /><br />
                <b>Payment:</b> We check our HITs frequently and usually approve or reject assignments within a day.
                <br /><br />
                <b>In case of problems:</b> If you think your HIT was rejected unfairly, please contact us. We strive to evaluate assignments fairly, but everyone makes mistakes.
        	</div>
        	<div id="tabs-4" class="tab">
        		PlateMate is a research project by the <a href="http://iis.seas.harvard.edu/" target="_blank">Intelligent Interactive Systems Group</a> at Harvard University.  We're attempting to use Mechanical Turk to determine nutritional information from photographs of meals.  Eventually we hope to make this technology available to the public to empower people to make more informed eating choices.
                <br/><br/>We use your answers to break down a picture into different foods, identify what those foods are, match them up with a nutritional database, and estimate how much of each food is there. Every step is important, and we appreciate your hard work!
        	</div>
        </div><br />
        
        {% block jobs %}{% endblock jobs %}
        
        <br />
        Thanks for working on our HITs! If you have any feedback on our task, please let us know, especially if the instructions are unclear or something isn't working.<br /><br />
        <textarea id='comment' name="comment"></textarea><br /><br />

        {% if forbidden %}
            <script>
                $(document).ready(function() { 
                    $.blockUI({ message: '<h1>Please skip to another HIT.</h1> Because you worked on an earlier stage of this HIT, you are not eligible to do this one. We apologize for the inconvenience.' }); 
                }); 
            </script>
        {% else %}
            {% if assignment == "ASSIGNMENT_ID_NOT_AVAILABLE" %}
              <input type='submit' id='submitButton' value='You must ACCEPT the HIT before you can submit the results.' disabled>
              <script>
                $(document).ready(function() { 
                    $.blockUI({ message: 'Click "Accept HIT" above to work on this.' }); 
                }); 
              </script>
              
              
            {% else %}

              <script>
			function validate_and_submit(){
                                var validation_passed = true;
				if (typeof VALIDATE_INPUT=='function')
					validation_passed = VALIDATE_INPUT()
				if(validation_passed)
					document.hitForm.submit()
					
			}
              </script>
              <input type='button' id='submitButton' value='Submit HIT' onclick="validate_and_submit()">
            {% endif %}
        {% endif %}
      </form>
    </div>
  </body>
</html>
