{% load food_tags %}

<html>
  <head>
    <script src="{{path}}/static/scripts/json2.js" type="text/javascript"></script>
    <script src="{{path}}/static/scripts/jquery.min.js" type="text/javascript"></script>
    <script src="{{path}}/static/scripts/jquery-ui-1.8.6.custom.min.js" type="text/javascript"></script>
    <script src="{{path}}/static/scripts/jquery.imgareaselect.min.js" type="text/javascript"></script>
    <script src="{{path}}/static/scripts/jquery.blockUI.js" type="text/javascript"></script>
    <script src="{{path}}/static/scripts/typewatch.js" type="text/javascript"></script>

    <link rel="stylesheet" href="{{path}}/static/css/platebrain.css" type="text/css" />
    <link rel="stylesheet" href="{{path}}/static/css/jquery-ui.css" type="text/css" />
    <link rel="stylesheet" href="{{path}}/static/css/imgareaselect-default.css" type="text/css" />
    <title>PlateMate</title>
  </head>
  <body>
    <div id="wrapper">

    {% for response in responses %}
    <table border=1 cellpadding=5>
        <tr>
            <td><b>Type:</b> {{ response.to_job.template }}</td>
            <td><b>Worker:</b> {{ response.assignment.worker.turk_id }}</td>
            <td><b>Work Time:</b> {{ response.assignment.work_time }}</td>
            <td><a href='{{path}}/hit/{{ response.assignment.hit.pk }}/?assignmentId={{ response.assignment.turk_id }}'><b>Hit ID:</b> {{ response.assignment.hit.pk }}</a></td>
        </tr>
        <tr>
        </tr>
            <td bgcolor="{% if response.valid %}green{% else %}red{% endif %}"><b>Feedback:</b> {{ response.feedback }}</td>
            <td><b>OS:</b> {{ response.assignment.worker.os }}</td>
            <td><b>Country:</b> {{ response.assignment.worker.country }}</td>
            <td><b>Response ID:</b> {{ response.pk }}</td>
        <tr>
            <td valign=top colspan=2>
                <b>Job</b>
                <br />
                {{ response.to_job|display_job }}
            </td>
            <td valign=top colspan=2>
                <b>Response</b><br /> {{ response|display_response }}<br />
                <b>Submit time:</b> {{ response.assignment.submit_time }}<br />
            </td>
        </tr>
    </table>

    <hr />
    {% endfor %}

    <div>
        <div>
            <a href="{{path}}/responses/{{operation}}/?limit={{next_limit}}">Load more</a>
        </div>
    </div>
    </div>
  </body>
</html>
